<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>front</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cssfiles/styleprosec.css' %}">
</head>
<body class="bo">
    <div class=nav>
        <div class="logo">
            BiteBliss
        </div>
        <div class="hmebtn">
            <ul>
                <li><a href="{% url 'hmepg' %}">HOME</a></li>
                
                <li><a href="{% url 'lgin' %}">LOG IN</a></li>
            </ul>
        </div>
    </div>

        <div>
            <hr class="new1">
        </div>
        <div class="abou">
            ABOUT US
        </div>
        <div class="desc">
            Welcome to BiteBliss, the ultimate destination for food enthusiasts and home cooks! We believe that cooking is not just a necessity; it's an art, a passion, and a delightful journey that brings people together. Our recipe sharing platform is crafted with love and care, designed to inspire your culinary creativity and help you discover the joy of experimenting in the kitchen.

<p>At BiteBliss, we celebrate the diverse world of flavors and cuisines. Whether you're a seasoned chef or a beginner in the kitchen, our platform is your virtual cookbook, bursting with a rich tapestry of recipes waiting to be explored. From mouthwatering appetizers to decadent desserts, from traditional family recipes to innovative culinary creations, our community-driven platform is where cooking dreams come to life.</p>


        </div>
     
    
</body>
</html>