<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sam</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cssfiles/explore.css' %}">
</head>
<body class="bo">
<div class=nav>
        <div class="logo">
            BiteBliss
        </div>
        <div class="hmebtn">
            <ul>
                <li><a href="{% url 'accnt' %}">PROFILE</a></li>
                <li><a href="{% url 'prfpg' %}">SHARE RECIPE</a></li>
                <li><a href="{% url 'hmepg' %}">LOG OUT</a></li>
            </ul>
        </div>
</div>
        {% for posts in posts %}
            <h3><a href="{% url 'article-detail' posts.pk %}">{{ posts.title }}</a></h3>
        
            <p>By: {{ posts.author }} on {{ posts.date_posted }}</p><br>
        {% endfor %}
 
</body>
</html>