<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>front</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cssfiles/stylepro.css' %}">
</head>
<body class="bo">
    <div class=nav>
        <div class="logo">
            BiteBliss
        </div>
        <div class="hmebtn">
            <ul>
                <li><a href="{% url 'hmepg' %}">HOME</a></li>
                <li><a href="{% url 'abtpg' %}">ABOUT US</a></li>
                <li><a href="{% url 'explr' %}">EXPLORE</a></li>
                <li><a href="{% url 'lgin' %}">LOG IN</a></li>
            </ul>
        </div>
    </div>
    <div>
        <hr class="new1">
    </div>
    <div class="veg">
        <hi>Green Curry Buddha Bowl.</hi>


    </div>
    
</body>
</html>